.contador{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.contador h2{
    margin: 20px;
}


.contador button:hover{
    background-color: rgba(101, 192, 166, 0.619);
}


.contador button{
    border: none;
    background-color: rgba(114, 232, 199, 0.619);
    padding: 15px;
    margin: 10px;
    width:fit-content;
    border-radius: 10px;
    transition-duration: .2s;
    text-align: center;
}