.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
    justify-content: center;
    align-items: center ;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    background-color: rgba(169, 237, 237, 0.665);
    border: none;
    border-radius: 20px;
    transition-duration: .5s;
}

.card:hover{
    background-color: rgba(5, 117, 117, 0.755);
    box-shadow: rgba(0, 0, 0, 0.359) 10px 10px 10px;
    color: rgb(255, 255, 255);
}

.card img{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.card p{
    font-weight: 700;
    font-size: larger;
}